.Cart-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 350px;
    background-color: #EAEAEA;
}

.cart-item {
    width: calc(30% - 10px);
    margin: 0.5px;
    text-align: center;
    background-color: white;
    border-radius: 10%;
    margin-bottom: 2rem;
}

.cart {
    margin-right: 1.5rem;
    padding: 100px;
}

.bag-title {
    text-align: center;
}